.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0 , 0.15);
    width: 400px;
    padding: 20px;
}

.header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.content {
    margin-top: 20px;
}

.content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    color: #7C3AED;
    font-weight: 600;
}

@media screen and (max-width: 1050px) {
    .card {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }
}