.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 2rem;
    user-select: none;
}

.compact {
    justify-content: center;
}

.logo > p {
    font-weight: 600;
    letter-spacing: 1px;
}

.icon {
    background-color: #7311D4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}