.item {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

.icon {
    background-color: #EF4444;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.title {
    font-weight: bold;
}

.desc {
    color: hsl(0, 0%, 4%, 0.6);
}

.value {
    color: #EF4444;
    font-weight: 600;
    margin-left: auto;
}