.card {
    background-color: #fff;
    width: 350px;
    border-radius: 12px;
    color: #0A0A0A;
    box-shadow: 0px 0px 8px hsla(0, 0%, 2%, 0.2);
    padding: 30px 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p {
    color: hsl(0, 0%, 4%, 0.6);
    font-weight: 500;
}

.money {
    margin: 15px 0px;
    font-size: 2rem;
}

.subtitle {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: hsl(0, 0%, 4%, 0.5);
    font-size: 0.9rem;
}